## Игнорировать билды и зависимости
bin/
obj/
migrations/
.vs/
*.user
*.suo
## NuGet
packages/
*.nupkg
## Логи, временные файлы и базы данных 
*.log
*.tmp
*.db
# Файлы окружения
appsettings.json
appsettings.*.json
.env